[submodule "03-Minishell"]
	path = 03-Minishell
	url = https://github.com/ysengoku/42-Minishell.git
[submodule "03-philosophers"]
	path = 03-philosophers
	url = https://github.com/ysengoku/42-philosophers.git
[submodule "04-cub3d"]
	path = 04-cub3d
	url = https://github.com/ysengoku/42-cub3d.git
[submodule "04-cub3d_macOS"]
	path = 04-cub3d_macOS
	url = https://github.com/ysengoku/42-cub3d-macOS.git
[submodule "05-cpp_modules"]
	path = 05-cpp_modules
	url = https://github.com/ysengoku/42-cpp.git
[submodule "05-Inception"]
	path = 05-Inception
	url = https://github.com/ysengoku/42-Inception
[submodule "05-ft_irc"]
	path = 05-ft_irc
	url = https://github.com/faboussard/42-irc
