[submodule "03-Minishell"]
	path = 03-Minishell
	url = https://github.com/ysengoku/42-Minishell.git
[submodule "03-philosophers"]
	path = 03-philosophers
	url = https://github.com/ysengoku/42-philosophers.git
